html {
  font-size: 14px;

}

body {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:'Anton', sans-serif;
}


.title {
  font-size: 5rem;
  color: green;
}

.instructions  {
  font-size: 2rem;
}

.Guesses {
  display: flex;
  font-size: 4rem;
  
  justify-content: center;
}

.Guesses-letter {
  width: 5.25rem;
  height: 5.25rem;
  border: 0.1rem solid #ccc;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.firstGuessInput {
  text-align: center;
  font-size: 2rem;
  font-family:'Anton', sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  color: green;

}

.inputText {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color:grey;
  margin-left: 1rem;
  margin-right: 1rem;

}

.inputButton {
  font-size: 2rem;
  font-weight: bold;
  background-color: grey;
  color: gold;
  border-radius: 0.5rem;
  border-color: gold;
  border-style: solid;
}

.submitButton {
  font-size: 2rem;
  font-weight: bold;
  background-color: grey;
  color: gold;
  border-radius: 0.5rem;
  border-color: gold;
  border-style: solid;
  margin-right: 1rem;
}

.resetButton {
  font-size: 2rem;
  font-weight: bold;
  background-color: grey;
  color: gold;
  border-radius: 0.5rem;
  border-color: gold;
  border-style: solid;
}

.winText {
  font-size: 3rem;
  color: green;
}

.loseText {
  font-size: 3rem;
  color: red;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 7px;
  }
}


